@font-face {
    font-family: 'Nexa Bold';
    src: url('/fonts/Nexa_Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa Light';
    src: url('/fonts/Nexa_Light.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa_Light.otf') format('opentype');
}
@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa_Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

:root {
    --primary-color: #ffca05;
    --secondary-color: #444243;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

header span {
    font-size: 14px;
}

.menu {
    background-color: var(--secondary-color);
    height: 50px;
    width: 100%;
    display: block;
    text-align: left;
}

.menu ul {
    list-style: none;
    padding: 10px 0;
}

.menu ul li {
    display: inline;
    line-height: 30px;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 0 !important;
}

.menu ul li a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Nexa Bold';
    padding: 0 10px;
}

.menu ul li a:hover {
    border-bottom: 3px solid #fff;
    transition: 0.1s;
}

.menu ul input {
    position: absolute;
    right: 20px;
    height: 30px;
    line-height: 30px;
    width: 300px;
    border: none;
    padding: 0 10px;
    border-radius: 4px;
    color: black;
    font-family: 'Nexa';
}

.menu ul input:focus {
    outline: 0;
}

footer {
    position: fixed;
    width: 100%;
    height: 26px;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background-color: var(--secondary-color);
    text-align: center;
    z-index: 3;
}

footer span {
    font-family: 'Nexa';
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 4px;
}

.span-left {
    left: 20px !important;
}

.span-right {
    right: 20px !important;
}

.container {
    width: 100%;
    position: relative;
    display: block;
    height: auto;
    top: 50px;
    padding: 60px;
    background-color: #140B42;
}

.container-login {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 300px;
    height: 320px;
    background: #fff;
    border-top: 10px solid #1BA39C;
    text-align: center;
    font-family: 'Nexa Bold' !important;
    padding: 40px 20px 0 20px;
}

.form-login h1 {
    margin-bottom: 20px;
}

.form-login input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    color: var(--secondary-color);
    font-family: 'Nexa';
    font-size: 16px;
}

.form-login input[type=submit] {
    background-color: #1BA39C;
    border: 1px solid #1BA39C;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* letter-spacing: 1px; */
}

.form-login input:hover {
    /*  */
}

.form-login input:focus {
    outline: 0;
}

.form-login span {
    font-family: 'Nexa';
    color: var(--secondary-color);
    font-size: 14px;
}

.container-title {
    width: 100%;
    margin-bottom: 20px;
}

.container-title h1 {
    /* border-bottom: 3px solid #000; */
    font-size: 26px;
    font-family: 'Nexa Bold';
    color: white;
}

.tags {
    font-family: 'Nexa';
    background-color: rgba(255,255,255,0.2);
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
}

.tags p {
    font-size: 14px;
    color: white;
}

.row {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0;
    -webkit-box-align: start;
    align-items: flex-start;
}

.left {
    display: flex;
    min-width: 764px;
    max-width: 764px;
    margin-right: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Nexa';
}

.links {
    padding: 20px 0;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Nexa';
}

.links .box {
    width: 600px;
    border: 6px solid #1BA39C;
    border-radius: 10px;
}

.links .box h2 {
    background-color: #1BA39C;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 2px;
}

.links .box table {
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
}

.links .box table tr {
    border: 1px solid #1BA39C;
}

.links .box table tr td {
    margin: 0;
    text-align: center;
    color: var(--secondary-color);
    border: 1px solid #1BA39C;
    padding: 4px;
}

@media only screen and (max-width: 1247px) {
    .left {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .links .box {
        width: 90%;
    }
}
